<div style="margin-top: 50px;">
<div class="topButton">
  <button (click)="clicked()" mat-raised-button color="accent">
    Load Tabs
  </button>
</div>
  <div>
    <mat-chip-list>
    </mat-chip-list>
  </div>

  <div>
    <app-list
      *ngIf="visible; else other_content"
      (newItemEvent)="exito($event)"
    >
      {{ title }}"</app-list
    >
    <ng-template #other_content>
    </ng-template>
  </div>
  <div id="separator">
    <h1 style="text-align: center;">Users</h1>
  </div>
  <app-profile></app-profile>
  <router-outlet></router-outlet>
</div>
